---
import Layout from '../layouts/Layout.astro';
import rider from '../assets/rider.svg';
import skyline from '../assets/skyline.svg';
import Image from 'astro/components/Image.astro';
---

<Layout>
  <main class="min-h-screen bg-test-light">
    <div class="h-[50vh] bg-test-dark p-12">
      <div class="flex h-full w-full items-center justify-start">
        <h1
          class="text-test-pink font-headline border-b-4 border-test-pink py-4"
        >
          <span class="text-8xl">Wild West</span>
          <div class="flex justify-between flex-wrap">
            <div class="flex gap-2">
              <Image class="w-12 h-12" src={skyline} alt="Skyline" />
              <Image class="w-12 h-12" src={skyline} alt="Skyline" />
              <Image class="w-12 h-12" src={skyline} alt="Skyline" />
            </div>

            <span class="text-4xl text-right">Neckarstadt</span>
          </div>
        </h1>
        <div class="ml-auto flex items-center gap-4">
          <Image src={rider} alt="Rider" class="scale-x-[-1]" />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 p-12">
      <div class="">Links</div>
      <div class="">Rechts</div>
    </div>
  </main>
</Layout>
