---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import header from '../assets/header.svg';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="flex justify-center">
    <Image class="w-full" src={header} alt="ein header" />
  </main>
</Layout>
