---
const { id, label, href, type } = Astro.props;
---

{
  href && (
    <a
      class="p-2 rounded bg-ww-primary/80 font-semibold text-ww-mint-100 hover:bg-ww-primary/60 border-b-4 border-r-4 border-ww-primary hover:border-transparent transition-colors duration-200 shadow-md"
      id={id}
      href={href}
    >
      {label}
    </a>
  )
}
